body {
  margin: 0;
  background-color: #0B0721;
  margin-top: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0B0721;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
}


li a {
  font-family: 'Poppins', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 100px;
  font-size: 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #160083;
}

.active {
  background-color: #1E00B3;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: white;
}